flows/Finished_Product_MI_PDF_Output_Conga.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MI_Cosmetic_Disinfectant_General_Purpose_Conga</name>
        <label>MI - Cosmetic-Disinfectant-General Purpose Conga</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>MI_Cosmetic_Disinfectant_GeneralPurposeCongaURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>MI_OTC_Drug_Conga</name>
        <label>MI - OTC-Drug Conga</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>MI_OTC_DrugCongaURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignConnectedPPID</name>
        <label>assignConnectedPPID</label>
        <locationX>666</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>PPIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOverPrimaryProductConnection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getPPSize</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOverPrimaryProductConnection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkPrimaryProductExist</name>
        <label>checkPrimaryProductExist</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Error_Msg_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPrimaryProductsRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopOverPrimaryProductConnection</targetReference>
            </connector>
            <label>isExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>getPPRecordSize</name>
        <label>getPPRecordSize</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Error_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>equal1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPPSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getFinishedProduct.SR_Regulated_Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Regulated_Category</targetReference>
            </connector>
            <label>equal1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Query_Exist</name>
        <label>Is Query Exist</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_SOQL_for_Test_STD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Conga_Query.SR_Spec_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Child_Record.specright__Child_Spec_Family__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Conga_Query</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Regulated_Category</name>
        <label>Regulated Category</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cosmetic_FDA_OR_Disinfectant_EPA_OR_General_Purpose_Surface_Cleaning_CPSC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getFinishedProduct.SR_Regulated_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cosmetic (FDA)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getFinishedProduct.SR_Regulated_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disinfectant (EPA)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getFinishedProduct.SR_Regulated_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Purpose Surface Cleaning (CPSC)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MI_Cosmetic_Disinfectant_General_Purpose_Conga</targetReference>
            </connector>
            <label>Cosmetic (FDA) OR Disinfectant (EPA) OR General Purpose Surface Cleaning (CPSC)</label>
        </rules>
        <rules>
            <name>OTC_Drug_FDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFinishedProduct.SR_Regulated_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DrugOTC/Drug (FDA)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MI_OTC_Drug_Conga</targetReference>
            </connector>
            <label>OTC/Drug (FDA)</label>
        </rules>
    </decisions>
    <description>new url update</description>
    <environments>Default</environments>
    <formulas>
        <name>congaQkey</name>
        <dataType>String</dataType>
        <expression>{!Get_SOQL_for_Test_STD.APXTConga4__Key__c}</expression>
    </formulas>
    <formulas>
        <name>ItemNameRemoveSpecialCharacter</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE(SUBSTITUTE ({!getFinishedProduct.Name}, &quot;:&quot;, &quot;&quot;), &quot;#&quot;, &quot;&quot;), &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &apos;&quot;&apos;, &quot;&quot;), &quot;%&quot;,&quot;&quot;),  &quot;\\&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>MI_Cosmetic_Disinfectant_GeneralPurposeCongaURL</name>
        <dataType>String</dataType>
        <expression>&quot;/apex/APXTConga4__Conga_Composer?SolMgr=1&amp;serverUrl=&quot;
&amp; {!$Api.Partner_Server_URL_370}
&amp; &quot;&amp;Id=&quot; &amp; {!getFinishedProduct.Id}
&amp; &quot;&amp;QueryId=[ImageIndiana]0Q_011MAW608129,[ImageArkansas]0Q_012MAW102992,[ImageDiecut]0Q_013MAW963604,[Image3DRendering]0Q_014MAW177498,[ImagePPattern]0Q_015MAW124807,[FPtoPPConnection]0Q_016MAW516648,[FPUtilizationStack]0Q_249MAF563397,[PPForConnection]0Q_017MAW444659,[PPSpecConnection]0Q_018MAW686502,[FPCustomer]0Q_019MAW179454,[PPSpecConneCase]0Q_020MAW720560,[Flexible]0Q_023MAW378176,[PPSpecConnePallet]0Q_021MAW422636,[pHTestIsolated]&quot;
&amp;{!Get_SOQL_for_Test_STD.APXTConga4__Key__c}
&amp;&quot;,[FGoodConnePallet]0Q_022MAW479464&quot;
&amp;&quot;&amp;TemplateId=0T_027MAF010387&amp;OFN=MI - &quot;
&amp;{!ItemNameRemoveSpecialCharacter}
&amp;&quot;&amp;FP0=1&amp;DS7=13&quot;</expression>
    </formulas>
    <formulas>
        <name>MI_OTC_DrugCongaURL</name>
        <dataType>String</dataType>
        <expression>&quot;/apex/APXTConga4__Conga_Composer?SolMgr=1&amp;serverUrl=&quot; 
+ {!$Api.Partner_Server_URL_370} 
+ &quot;&amp;Id=&quot; + {!getFinishedProduct.Id} 
+ &quot;&amp;QueryId=[ImageIndiana]0Q_011MAW608129,[ImageArkansas]0Q_012MAW102992,[ImageDiecut]0Q_013MAW963604,[Image3DRendering]0Q_014MAW177498,[ImagePPattern]0Q_015MAW124807,[FPtoPPConnection]0Q_016MAW516648,[FPUtilizationStack]0Q_249MAF563397,[PPForConnection]0Q_017MAW444659,[PPSpecConnection]0Q_018MAW686502,[FPCustomer]0Q_019MAW179454,[PPSpecConneCase]0Q_020MAW720560,[Flexible]0Q_023MAW378176,[PPSpecConnePallet]0Q_021MAW422636,[pHTestIsolated]&quot; 
+ {!Get_SOQL_for_Test_STD.APXTConga4__Key__c} 
+ &quot;,[FGoodConnePallet]0Q_022MAW479464&quot; 
+ &quot;&amp;TemplateId=0T_007MAW104898&quot; 
+ &quot;&amp;OFN=MI - &quot; + {!ItemNameRemoveSpecialCharacter} 
+ &quot;&amp;FP0=1&amp;DS7=13&quot;</expression>
    </formulas>
    <formulas>
        <name>varCongaSOQL</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Name, specright__Testing_Attribute__c, &quot; &amp;
&quot;       specright__Testing_Attribute__r.SR_Attribute__c, &quot; &amp;
&quot;       specright__Formula__c, specright__Formula__r.Name, &quot; &amp;
&quot;       SR_Requirement_or_Specification__c, SR_Target__c, SR_Min__c, SR_Max__c &quot; &amp;
&quot;FROM specright__Test_Attribute_to_Formula__c &quot; &amp;
&quot;WHERE specright__Formula__c IN ( &quot; &amp;
&quot;  SELECT specright__Formula__c &quot; &amp;
&quot;  FROM specright__Finished_Goods_to_Formulas2__c &quot; &amp;
&quot;  WHERE specright__Finished_Good__c = &apos;&quot; &amp;
{!Get_Child_Record.specright__Child_Spec_Family__c} &amp;
&quot;&apos; &quot; &amp;
&quot;) &quot; &amp;
&quot;AND specright__Testing_Attribute__r.SR_Attribute__c = &apos;pH&apos;&quot;</expression>
    </formulas>
    <interviewLabel>Finished Product - MI PDF Output Conga {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finished Product - MI PDF Output Conga</label>
    <loops>
        <name>loopOverPrimaryProductConnection</name>
        <label>loopOverPrimaryProductConnection</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <collectionReference>getPrimaryProductsRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignConnectedPPID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getPPRecordSize</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Conga_Query</name>
        <label>Create Conga Query</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_SOQL_for_Test_STD</targetReference>
        </connector>
        <inputAssignments>
            <field>APXTConga4__Description__c</field>
            <value>
                <elementReference>CongaQueryDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APXTConga4__Name__c</field>
            <value>
                <stringValue>pH_Test_Isolated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>APXTConga4__Query__c</field>
            <value>
                <elementReference>varCongaSOQL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SR_Spec_Family__c</field>
            <value>
                <elementReference>Get_Child_Record.specright__Child_Spec_Family__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>APXTConga4__Conga_Merge_Query__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Record</name>
        <label>Get Child Record</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Conga_Query</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>specright__Master_Spec_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>specright__Child_Spec_Family__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Conga_Query</name>
        <label>Get Existing Conga Query</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Query_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SR_Spec_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Child_Record.specright__Child_Spec_Family__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>APXTConga4__Conga_Merge_Query__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SOQL_for_Test_STD</name>
        <label>Get SOQL for Test STD</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkPrimaryProductExist</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Conga_Query</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Conga_Query.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>APXTConga4__Conga_Merge_Query__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getFinishedProduct</name>
        <label>getFinishedProduct</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPrimaryProductsRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>specright__Spec_Family__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPrimaryProductsRecord</name>
        <label>getPrimaryProductsRecord</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Child_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>specright__Master_Spec_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getFinishedProduct.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>specright__Child_Spec_Family__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Msg</name>
        <label>Error Msg</label>
        <locationX>842</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MultiplePrimaryProduct</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;More than 1 Primary Product Attached or &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Regulated Category does not have value.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Msg_0</name>
        <label>Error Msg</label>
        <locationX>1106</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MultiplePrimaryProduct_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;There are no Primary products attached.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getFinishedProduct</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CongaQueryDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Auto-generated query. 
Child: {!Get_Child_Record.specright__Child_Spec_Family__r.Name} 
Parent: {!getFinishedProduct.Name} 
Purpose: pH test in Conga (ignore SOQL).</text>
    </textTemplates>
    <textTemplates>
        <name>TT_QueryIds</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[ImageIndiana]0Q_011MAW608129,[ImageArkansas]0Q_012MAW102992,[ImageDiecut]0Q_013MAW963604,[Image3DRendering]0Q_014MAW177498,[ImagePPattern]0Q_015MAW124807,[FPtoPPConnection]0Q_016MAW516648,[PPForConnection]0Q_017MAW444659,[PPSpecConnection]0Q_018MAW686502,[FPCustomer]0Q_019MAW179454,[PPSpecConneCase]0Q_020MAW720560,[Flexible]0Q_023MAW378176,[PPSpecConnePallet]0Q_021MAW422636,[pH_Test_Isolated]{!Get_SOQL_for_Test_STD.APXTConga4__Key__c},[FGoodConnePallet]0Q_022MAW479464</text>
    </textTemplates>
    <variables>
        <name>getPPSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PPIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCongaQueryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
